* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%
}

/*** Set margin, padding, align, and font defaults *************/
/*** font-style/-variant/-weight/-size/line-height/font-family */
body,header,p,h1,h2,h3,h4,h5,h6,ul,li,figure,figcaption,blockquote,cite {
  margin: 0; 
  padding: 0;
  font: normal normal 500 16px/1.5 Roboto, sans-serif;
  text-decoration: none;
  border-style: none; 
}

body {
  display: flex;
  flex-direction: column;
  background-color: #fff; 
}

/*** Make a default setting of the viewport **********/
.wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;

  width: 100%;
  min-height: 100vh;
  height: 100vh;
} 

/* Release a background image */
.hero-image {
  height: 100vh;
 
  background-image: linear-gradient(220deg, black 1%, transparent, black),
                    url('../images/490-original.jpg');
 
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*** Set header area included main logo and menu area *****************/
.header {
  position: fixed;
  background-color: black; 
  opacity: 90%;

  font: normal normal 400 1.5rem/1.5 Roboto, sans-serif;
  color: #212529;
  text-align: left;

  /* box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1); */
  position: fixed;
  width: 100%;
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

.header ul {
  vertical-align: middle;
  height: auto;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #212529;
  text-decoration: none;
}

.header li a:hover, 
.header .menu-btn:hover, 
.header .menu_register:hover  {
  background-color: burlywood;
  color: #212529;
}

/*** Set a main logo on the left side *****************/
.logo {
  margin-top: .5em;
  margin-left: .5em;
  display: inline-block;
  vertical-align: middle;
}

.logo> h1 { 
  font: italic normal bold 1.6rem/1.5 Parisienne, cursive;  
  letter-spacing:.1em;
  color: goldenrod;
  text-shadow: 1px 1px #212529;
  text-decoration-line: underline; 
}

.logo:hover> h1, 
.logo:focus> h1 {
  text-decoration-line: none; 
  letter-spacing:.2em;
  color: lightgoldenrodyellow;
}

/*** Make a default setting of the viewport **********/
a {
  color: burlywood;
  background-color: transparent; 
}

a:hover {
    color: lightgoldenrodyellow;
    text-decoration: underline; 
}

/*** Toogle Menu *******************************/
.menu_register {
    background-color: rgb(16, 49, 49);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
}

/*** Show Hamburger menu button  ***************/
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 20px 50px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: burlywood;
  display: block;
  height: 2px;
  position: relative;
  transition: background-color 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: burlywood;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/*** Set hamburger menu ***************************/
.header .menu-btn {
  display: none;
}

/* Set maximum height when expanded hamburger menu */
.header .menu-btn:checked ~ .menu {
  max-height: 300px; 
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/*** Set hero area with logo and main images *********/
.mwrapper section {
  margin-top: 8%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; 
}

/*** SVG for logo and icon *********************/
.logo-svg {
  flex: 1;
  margin-top: 60px;
  width: 680px;
  height: 224px;
}

.logotype {
  fill: goldenrod;
  stroke: rgb(16, 49, 49);
  stroke-width: .8;
}

.logo-icon_circle {
  fill: rgb(165, 64, 6);
  stroke: rgb(16, 49, 49);
  stroke-width: .8;
}

.logo-icon_spoon {
  fill: goldenrod;
}

.logo-icon_corona {
  fill: goldenrod;
}

/*** Display four images at the bottom of hero area ***/
/*** Title of four images ***/
.mwrapper h3{
  width: 95%;
  border: 1px solid rgb(16, 49, 49);
  background-color: rgb(16, 49, 49);
  opacity: 80%;
  padding: 5px;
  font-size: 1.5rem;
  color: lightgoldenrodyellow;
}

/*** Four images ***/
.flex_wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 95%;
  border: 1px solid rgb(59, 59, 59);
}

.flex_wrap_item {
  margin: 15px;
}

.flex_wrap_item img {
  width: 20ch; 
  height: 20ch;
  border: 2px solid lightgoldenrodyellow;
  border-radius: 50%;

  /* Maintain image aspect ratio when resizing browser windows */
  object-fit: cover;
}

.flex_wrap_item figcaption {
  color: lightgoldenrodyellow;
  font-size: 1rem;
}

/*** Make the second contents area *********************************/
.flex_wrap2 {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
}

/*** Display one image with blockquote contents ***/
.flex_wrap_item2 {
  display: flex;
  flex-grow: 2;
}

.flex_wrap_item2 figure{
  margin: 15px;
  align-self: center;
}

.flex_wrap_item2 img {
  width: 25ch; 
  border-radius: 1em;
  border: 1px solid lightgoldenrodyellow;

  /* Maintain image aspect ratio when resizing browser windows */
  object-fit: cover;
}

.flex_wrap_item2 figcaption {
  font-style: italic;
  font-size: 1rem;
}

.flex_wrap2_quote {
  padding: 2em;
  background: #eee;
  border-radius: 1em;
  height: 70%;
  text-align: left;
}

.flex_wrap2_quote .hover[cite]::before {
  content: "“";
}
.flex_wrap2_quote .hover[cite]:hover::after {
  content: "” (" attr(cite) ") ";
}

.flex_wrap2 p{
  margin: 1em;
  text-align: left;
  font-size: 1.3rem;
  line-height: 150%;
}

/*** Footer *********************************/
.footer {
  margin-top: auto;
  background: lightslategray;
  color: black;
  font-size: 1.2rem;
  text-align: center;
}

/****************************************************************************/
/*** Media Query: menu set-up ***********************************************/
@media (min-width: 768px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

/****************************************************************************/
/*** Mobile Portrait and Landscape *******************************************/
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) { 

  /*** Make a default setting of the viewport **********/
  .wrapper {
    min-height: 33%;
    height: 33%;
  } 
  
  /* Release a background image */
  .hero-image {
    height: 33%;
  }
  
  /*** Set header area included main logo and menu area *****************/
  .header {
    font: normal normal 400 1.3rem/1.5 Roboto, sans-serif;
  }

  .logo> h1 { 
    font: italic normal bold 1.3rem/1.5 Parisienne, cursive;  
  }
  
  /*** Toogle Menu *******************************/
  .menu_register {
    font-size: 1.3rem;
  }
   
  /*** SVG for logo and icon *********************/
  .logo-svg {
    flex: 1;
    margin-top: 60px;
    width: 80%;
    height: 80%;
  }
  
  .logotype {
    fill: rgb(184, 221, 51);
    stroke: rgb(16, 49, 49);
    stroke-width: .8;
  }
  
  .logo-icon_circle {
    fill: rgb(9, 69, 80);
    stroke: rgb(16, 49, 49);
    stroke-width: .8;
  }
  
  .logo-icon_spoon {
    fill: rgb(184, 221, 51);
  }
  
  .logo-icon_corona {
    fill: rgb(184, 221, 51);
  }
  
  /*** Display four images at the bottom of hero area ***/
  /*** Title of four images ***/
  .mwrapper h3{
    width: 100%;
    border: 0;
    background-color: rgb(16, 49, 49);
    opacity: 100%;
    padding: 5px;
    font-size: 1.3rem;
    color: lightgoldenrodyellow;
  }
  
  /*** Four images ***/
  .flex_wrap {
    width: 100%;
    border: 0;
  }
   
  .flex_wrap_item figcaption {
    color: black;
    font-size: 1rem;
  }
  
  /*** Make the second contents area *********************************/
  .flex_wrap2 {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 0;
    background-color: #eee;
  }
  
  /*** Display one image with blockquote contents ***/
  .flex_wrap_item2 {
    display: flex;
    flex-direction: column;
  }
  
  .flex_wrap_item2 figure{
    margin: 15px;
    align-self: center;
  }
  
  .flex_wrap_item2 figcaption {
    font-style: italic;
    font-size: .9rem;
  }
  
  .flex_wrap2_quote {
    padding: 1em;
    border-radius: 1em;
    background-color: lightgray;
    height: 70%;
  }
  
  .flex_wrap2 p{
    font-size: 1.1rem;
    line-height: 120%;
  }
  
  /*** Footer *********************************/
  .footer {
    font-size: 1rem;
  }
}

/*** Tablet Portrait and Landscape *******************************************/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

  /*** Make a default setting of the viewport **********/
  .wrapper {
    min-height: 40%;
    height: 40%;
  } 
  
  /* Release a background image */
  .hero-image {
    height: 40%;
  }
  
  /*** Set header area included main logo and menu area *****************/
  .header {
    font: normal normal 400 1.4rem/1.5 Roboto, sans-serif;
  }

  .header li a {
    display: block;
    padding: 15px 15px;
    border-right: 1px solid #212529;
    text-decoration: none;
  }

  .logo> h1 { 
    font: italic normal bold 1.4rem/1.5 Parisienne, cursive;  
  }
  
  /*** Toogle Menu *******************************/
  .menu_register {
    font-size: 1.3rem;
  }
   
  /*** SVG for logo and icon *********************/
  .logo-svg {
    flex: 1;
    margin-top: 50px;
    width: 90%;
    height: 90%;
  }
  
  .logotype {
    fill: rgb(233, 131, 202);
    stroke: rgb(10, 1, 10);
    stroke-width: .8;
  }
  
  .logo-icon_circle {
    fill: rgb(77, 38, 65);
    stroke: rgb(10, 1, 10);
    stroke-width: .8;
  }
  
  .logo-icon_spoon {
    fill: rgb(233, 131, 202);
  }
  
  .logo-icon_corona {
    fill: rgb(233, 131, 202);
  }
  
  /*** Display four images at the bottom of hero area ***/
  /*** Title of four images ***/
  .mwrapper h3{
    width: 100%;
    border: 0;
    background-color: rgb(16, 49, 49);
    opacity: 100%;
    padding: 5px;
    font-size: 1.4rem;
    color: lightgoldenrodyellow;
  }
  
  /*** Four images ***/
  .flex_wrap {
    width: 100%;
    border: 0;
  }
   
  .flex_wrap_item figcaption {
    color: black;
    font-size: 1.1rem;
  }
  
  /*** Make the second contents area *********************************/
  .flex_wrap2 {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 0;
    background-color: #eee;
  }
  
  /*** Display one image with blockquote contents ***/
   .flex_wrap_item2 figure{
    margin: 15px;
    align-self: center;
  }
  
  .flex_wrap_item2 figcaption {
    font-style: italic;
    font-size: 1rem;
  }
  
  .flex_wrap2_quote {
    padding: 1em;
    border-radius: 1em;
    background-color: lightgray;
    height: 85%;
  }
  
  .flex_wrap2 p{
    font-size: 1.2rem;
    line-height: 130%;
  }
  
  /*** Footer *********************************/
  .footer {
    font-size: 1.1rem;
  }
}