/************************************************************/
/* Make a default setting of the viewport in the Index page */
.c_index {
  width: 100%;
  min-height: 100vh;
  height: 100vh;
} 

/* Release a background image ***/
.c_index .hero-image {
  height: 100vh;
 
  background-image: linear-gradient(220deg, black 1%, transparent, black),
                    url('../images/490-original.jpg');
 
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*** Mobile Portrait and Landscape *****/
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) { 
  .c_index {
    height: 40%;
  } 
  
  /* Release a background image ***/
  .c_index .hero-image {
    height: 40%;
  }
}

/*** Tablet Portrait and Landscape *****/
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  .c_index {
    min-height: 60vh;
    height: 60vh;
  } 
  
  /* Release a background image ***/
  .c_index .hero-image {
    height: 60vh;
  }
}

/************************************************************/
/*** Start Hero content area ********************************/
/* Set display style of main contents and images */
.mwrapper section {
  margin-top: 8%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; 
}

/* Decorate texts in the header section */
.mwrapper_hero h1{
  margin-top: 30px;
  font: italic normal 8em/1.5 Parisienne, cursive;  
  color: goldenrod;
  text-shadow: 2px 2px rgb(16, 49, 49);
}

.mwrapper_hero h4{
  margin-top: 30px;
  font: italic normal 2em/1.5 Roboto, sans-serif; 
  color: lightgoldenrodyellow;
  text-shadow: 2px 2px rgb(16, 49, 49);
}

/*** Mobile Portrait and Landscape *****/
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) { 
  .mwrapper section {
    margin-top: 5%;
  }
  
  /* Decorate texts in the header section */
  .mwrapper_hero h1{
    margin-top: .8em;
    font: italic normal 4em/1.3 Parisienne, cursive;  
  }
  
  .mwrapper_hero h4{
    padding-bottom: .8em;
    font: italic normal 1em/1.3 Roboto, sans-serif; 
  }
}

/*** Tablet Portrait and Landscape *****/
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  .mwrapper section {
    margin-top: 3%;
  }
  
  /* Decorate texts in the header section */
  .mwrapper_hero h1 {
    font: italic normal 7em/1.5 Parisienne, cursive;  
  }
  
  .mwrapper_hero h4{
    font: italic normal 1.8em/1.5 Roboto, sans-serif; 
  }
}

/***************************************************************/
/*** Start four images area at the bottom of the hero area *****/
/* Title area of four images */
.mwrapper h3{
  width: 95%;
  border: 1px solid rgb(16, 49, 49);
  background-color: rgb(16, 49, 49);
  opacity: 90%;
  padding: 5px;
  font-size: 1.5rem;
  color: lightgoldenrodyellow;
}

/* Place four images */
.flex_wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 95%;
  border: 1px solid rgb(59, 59, 59);
}

.flex_wrap_item img {
  margin: 1.5em .8em;
  width: 20ch; 
  height: 20ch;
  border: 2px solid lightgoldenrodyellow;
  border-radius: 50%;

  /* Maintain image aspect ratio when resizing browser windows */
  object-fit: cover;
}

.flex_wrap_item figcaption {
  margin-bottom: 1.5em;
  color: lightgoldenrodyellow;
  font-size: 1em;
}

/*** Mobile Portrait and Landscape *****/
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) { 
  .mwrapper h3{
    width: 100%;
    opacity: 100%;
    font-size: 1.1em;
  }

  /* Place four images */
  .flex_wrap {
    width: 100%;
    padding-top: 2em;
    background-color: black;
    opacity: 100%;
  }

  .flex_wrap_item img {
    margin: .8em;
  }

  .flex_wrap_item figcaption {
    margin-bottom: .8em;
    color: lightgoldenrodyellow;
    font-size: 1em;
  }
}

/*** Tablet Portrait and Landscape *****/
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  .mwrapper h3{
    width: 100%;
    opacity: 100%;
    font-size: 1.2em;
  }

  /* Place four images */
  .flex_wrap {
    width: 100%;
    padding: 2em;
    background-color: black;
    opacity: 100%;
  }

  .flex_wrap_item img {
    margin: 1em 2em;
  }

  .flex_wrap_item figcaption {
    margin-bottom: .8em;
    color: lightgoldenrodyellow;
    font-size: 1.1em;
  }
}
/*** End four images area at the bottom of the hero area *******/
/***************************************************************/

/***************************************************************/
/*** Start the second contents area ****************************/
.flex_wrap2 {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
}

/*** Display one image with blockquote contents ***/
.flex_wrap_item2 {
  display: flex;
  flex-grow: 2;
}

.flex_wrap_item2 figure{
  margin: 1em;
  align-self: center;
}

.flex_wrap_item2 img {
  width: 25ch; 
  border-radius: 1em;
  border: 1px solid lightgoldenrodyellow;

  /* Maintain image aspect ratio when resizing browser windows */
  object-fit: cover;
}

.flex_wrap_item2 figcaption {
  font-style: italic;
  font-size: 1em;
}

.flex_wrap2_quote {
  padding: 2em;
  background: #eee;
  border-radius: 1em;
  height: 70%;
  text-align: left;
}

.flex_wrap2_quote .hover[cite]::before {
  content: "“";
}
.flex_wrap2_quote .hover[cite]:hover::after {
  content: "” (" attr(cite) ") ";
}

.flex_wrap2 p{
  margin: 1em;
  text-align: left;
  font-size: 1.3em;
  line-height: 150%;
}

/*** Mobile Portrait and Landscape *****/
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) { 
  .flex_wrap_item2 {
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }

  .flex_wrap2_quote {
    padding: 1.3em;
  }

  .flex_wrap2 p{
    margin: .5em;
    font-size: 1em;
  }
}

/*** Tablet Portrait and Landscape *****/
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  .flex_wrap2_quote {
    padding: 1.7em;
  }

  .flex_wrap2 p{
    margin: .5em;
    font-size: 1.1em;
  }
}
/****************************************************************************/